systemSettings:
{
        nX = 1;
        nY = 1;
        nZ = 1;
        dim = 3;
        Nc = 8;
        latticeConstant =5.260;
        density  = 1.2;
        initTemp = 110.0; #[K]
        rCut = 2.5;
};

statisticsSettings:
{
    numStates = 1000;
    stepAvg = 50;
    dt=0.01;

};


forceSettings:
{
#       0 = "No interaction";
#       1 = "LennardJones";
        forceType = 1;
};

ModifierSettings:
{
#        0 = "No modifier";
#        1 = "Andersen";
#        2 = "Berendsen";
         modifierType = 0;

        tau=0.15;
        targetTemperature= 100.0;
};


initialVelocitySetting:
{
#       0 = "uniform";
#       1 = "normal";
        initVelocityDist = 1;

        idum = -1;

};


conversionFactors:
{
    T_0 = 119.74;
    t_0=2.1569; #ps
    sigma = 3.405; #Å
    epsilon= 1.0318e-2;#eV
    pressureFactor= 160.2176487; #GPa
};


fileManagerSettings:
{
    statesDir="/home/milad/kurs/fys4460/testRuns/states/";
    statisticsDir="/home/milad/kurs/fys4460/testRuns/states/";
};
