systemSettings:
{
        dim = 3;
        Nc = 8;
        latticeConstant =5.260;
        density = 0.8;
        initTemp = 900.0; #[K]
        rCut = 2.5;
};

statisticsSettings:
{
    numStates = 100;
    stepAvg = 50;
    dt=0.01;

};

ModifierSettings:
{
#       thermostatType= "0";
#       thermostatType= "Andersen";
        thermostatType= "Berendsen";

        tau=0.1;
        targetTemperature= 500.0;
};


initialVelocitySetting:
{
#       velocityDist= "uniform";
        velocityDist= "normal";

};


conversionFactors:
{
    T_0 = 119.74;
    t_0=2.1569; #ps
    sigma = 3.405; #Å
    epsilon= 1.0318e-2;#eV
    pressureFactor= 160.2176487; #GPa
};


fileManagerSettings:
{
    statesDir="/home/milad/kurs/fys4460/DATA/states/";
    statisticsDir="/home/milad/kurs/fys4460/DATA/statistics/";
};
